[submodule "themes/juejin"]
	path = themes/juejin
	url = https://github.com/xitu/juejin-markdown-theme-default.git
[submodule "themes/github"]
	path = themes/github
	url = https://github.com/sindresorhus/github-markdown-css.git
[submodule "themes/smartblue"]
	path = themes/smartblue
	url = git@github.com:cumt-robin/juejin-markdown-theme-smart-blue.git
[submodule "themes/cyanosis"]
	path = themes/cyanosis
	url = https://github.com/linxsbox/juejin-markdown-theme-cyanosis.git
