name: test
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install
        run: npm install
      # - name: lint
      #   run: npm run lint
      - name: build
        run: npm run build
      - name: size
        run: npx bundlesize
